.main__collapse-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 20px;
}

.main__collapse {
    width: 100%;
}

.main__collapse__title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    height: 30px;
    padding-inline: 12px;
}

.main__collapse__title-content__title {
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}

.main__collapse__title-content__icon {
    width: 16px;
    transition: transform 0.3s ease-in-out;
}

.main__collapse__title-content__icon.open {
    transform: rotate(-180deg);
}

.main__collapse__collapse-content {
    background-color: #F6F6F673;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    font-size: 14px;
}

.main__collapse__collapse-content.open {
    animation: fadeIn 300ms ease-in-out;
}

@keyframes fadeIn {
    from {
        transform: scaleY(0);
        transform-origin: center top;
    }

    to {
        transform: scaleY(1);
        transform-origin: center top;
    }
}

@media screen and (min-width: 1024px) {
    .main__collapse-section {
        margin-block: 38px;
    }

    .main__collapse {
        max-width: 1023px;
        margin-inline: auto;
    }

    .main__collapse__title-content {
        height: 52px;
    }

    .main__collapse__title-content__title {
        font-size: 24px;
    }

    .main__collapse__title-content__icon {
        width: 24px;
    }

    .main__collapse__collapse-content {
        font-size: 18px;
        line-height: 24px;
    }
}