@import url(./reset.css);

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.main {
    margin-inline: 20px;
}

@media screen and (min-width: 1024px) {
    .main {
        margin-inline: 100px;
        margin-block: 50px;
    }
}